* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #e3f2fd;
}

.color-palette {
    max-width: 1250px;
    margin: 0 auto;
    padding: 40px 10px 80px;
}

.color-palette__info-message {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 999999;
    pointer-events: none;
    min-width: 80px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    background-color: #51a351;
    border-radius: 5px;
    box-shadow: 0 0 12px #999;
    padding: 8px;
    opacity: .8;
    overflow: hidden;
}

.color-palette__info-message--active {
    display: flex;
}

.color-palette__list {
    display: grid;
    gap: 10px;
    justify-items: center;
    margin-bottom: 20px;
}

.color-palette__item {
    list-style: none;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(52, 87, 220, 0.08);
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
    transition: transform 0.3s ease;
}

.color-palette__item:hover {
    filter: brightness(105%);
}

.color-palette__item:active {
    transform: scale(0.95);
}

.color-palette__preview {
    width: 290px;
    height: 290px;
    border-radius: 5px;
    background-color: #8a6cff;
    margin-bottom: 10px;
}

.color-palette__color-code {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    font-weight: 500;
    color: #444444;
    text-transform: uppercase;
}

.color-palette__button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 12px 20px;
    background-color: #8a6cff;
    box-shadow: 0 10px 20px rgba(52, 87, 220, 0.2);
    transition: all 0.3s ease;
}

.color-palette__button:hover {
    color: #8a6cff;
    border-color: #8a6cff;
    background-color: #ffffff;
}

@media only screen and (min-width: 630px) {
    .color-palette__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 940px) {
    .color-palette__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1250px) {
    .color-palette__list {
        grid-template-columns: repeat(4, 1fr);
    }
}